<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="active-submenu" content="<%= submenuId %>">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/global_assets/images/favicon.png" type="image/x-icon" />
<title>Qurba Sales Tracking System - <%- page %></title>

<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
<link href="/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/custom.css" rel="stylesheet" type="text/css">

<!-- /global stylesheets -->

<!-- Core JS files -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/global_assets/plugins/ui/moment/moment.min.js"></script>
<script src="/global_assets/plugins/pickers/daterangepicker.js"></script>
<!-- /core JS files -->

<script src="/assets/js/customs.js"></script>
<script src="/assets/js/app.js"></script>