<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../layouts/head %>
	<link rel="stylesheet" href="/global_assets/plugins/ag-grid-community/dist/styles/ag-grid.css">
	<link rel="stylesheet" href="/global_assets/plugins/ag-grid-community/dist/styles/ag-theme-alpine.css">
</head>
<style>
	
	.ag-cell-label-container, .ag-header-icon {
		color: #4d5763;
	}

	.ag-header-row {
		background-color: #FFF;
	}

	.ag-root-wrapper {
		border-radius: 5px;
	}
	
	.ag-theme-alpine .ag-root-wrapper {
		border: none;
	}
	
</style>

<body>
	<!-- Page content -->
	<div class="page-content">
		<% include ../layouts/sidebar %>

		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content" style="margin: 16px;">

					<div class="row">
						<div class="col-12">
							<a href="/store" class="d-inline-block">
								<img src="/global_assets/images/qurba.png" class="d-none d-sm-block" alt="" style="height: 3rem;">
								<!-- <img src="/global_assets/images/telkomsel.png" class="d-none d-sm-block" alt="" style="height: 2.125rem;"> -->
								<!-- <img src="/global_assets/images/lgwhite.png" class="pt-1 d-sm-none" alt="" style="height: 2.125rem;"> -->
							</a>
						</div>
					</div>

					<br>

					<div class="row">
						<div class="col-4">
							<button type="button" class="btn btn-custom-primary btn-sm" id="filterdate" style="width: inherit;">
								<i class="icon-calendar mr-2"></i>
								<span></span>
							</button>
							<input type="hidden" id="tgl0" />
							<input type="hidden" id="tgl1" />
						</div>
						<div class="col-2">
							<button class="btn btn-custom-outline-primary btn-sm" id="btn_generate">Generate</button>
						</div>
					</div>

					<br>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-12">
											<span style="font-weight: 500;">Sales Report</span>
											<p class="text-muted" id="s_periode"></p>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<span style="font-weight: 500;">Sales by Date</span>
											<hr class="mt-1 mb-2">
											<!-- <div>
												<span>Total (before GST)</span>
												<span id="i_price" style="float: right;"></span>
											</div> -->
											<div id="tbl_report_by_date" style="height: 50vh;" class="ag-theme-alpine"></div>
										</div>
										<div class="col-6">
											<span style="font-weight: 500;">Sales by Product</span>
											<hr class="mt-1 mb-2">
											<div id="tbl_report_by_product" style="height: 50vh;" class="ag-theme-alpine"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>

				<!-- /content area -->
				</div>
			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

	<script src="/scr/report/report.js"></script>

	<script src="/global_assets/plugins/forms/validation/validate.min.js"></script>
	<script src="/global_assets/plugins/notifications/sweet_alert.min.js"></script>
	
	<script src="/global_assets/plugins/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
	<script src="/global_assets/plugins/select2/select2.min.js"></script>

</body>

</html>
